################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/api/.vs
/src/api/VolatixServer.Api/bin/Debug/net9.0
/src/api/VolatixServer.Api/obj
/src/api/VolatixServer.Infrastructure/bin/Debug/net9.0
/src/api/VolatixServer.Infrastructure/obj
*.user
/src/api/VolatixServer.Service/bin/Debug/net9.0
/src/api/VolatixServer.Service/obj
/src/cachefy-admin/src/environments/environment.prod.ts
/src/cachefy-admin/src/environments/environment.ts
/src/api/Cachefy.Api/Properties/PublishProfiles
/src/api/Cachefy.Api/Properties/ServiceDependencies/cubic3cachemanager-server-api - FTP
