################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/api/.vs
/src/api/CachefyServer.Api/bin/Debug/net9.0
/src/api/CachefyServer.Api/obj
/src/api/CachefyServer.Infrastructure/bin/Debug/net9.0
/src/api/CachefyServer.Infrastructure/obj
*.user
/src/api/CachefyServer.Service/bin/Debug/net9.0
/src/api/CachefyServer.Service/obj

/src/api/Cachefy.Api/Properties/PublishProfiles
